#tt-pr 
{
	color: var(--vgv);
	font-size: 35px;
	margin-bottom: 30px;
	margin-top: 20px;
	margin-left: 50px;
	border-bottom: solid var(--vgv);
	width: 401px;
}

#para-gv 
{
	width: 1200px;
	margin-left: 75px;
	height: 110px;
}

#tt-org 
{
	color: var(--vgv);
	font-size: 35px;
	margin-bottom: 30px;
	margin-top: 20px;
	margin-left: 50px;
	border-bottom: solid var(--vgv);
	width: 242px;
}

#im-org
{
	border: solid thin; 
	margin-left: 120px;
}