
:root{
  --vgv: #039B13;
  --vwv: white; 
}


.lait-header{
  background-image: url("images/lait_cover.jpg");
  background-size: cover;
  background-position: center;
  height:583px;
}

.title{
  color: var(--vgv);
  margin-left: 125px;
  font-size: 70px;
 
}
.fix{
  width: 220px;
  transform: translate(19px,0);
}
.line{
  color: var(--vgv);
  border: 2px solid var(--vgv);
  width: 200px;
  margin-left: 125px ;

 

 
}

.header-text{
  width: 500px;
  color: var(--vwv);
  line-height: 35px;
  margin-left: 125px;
  margin-top: 75px;
}


.maillons-image{
  width: 1000px;
  height: 800px;
  margin-left: 200px;
}
.maillons-title{
  font-size: 45px;
  margin-top: 175px;
}

.prod-text{
  width: 500px;
  font-size: 20px;
  line-height: 40px;
  margin-left: 175px;
  margin-top: 50px;
  transform: translate(0,50px);
}

#prod-pic{
  height: 300px;
  width: 500px;
  float: right;
  margin-top: -186px;
  margin-right: 105px;
}

.collecte{
  margin-top: -200px;
  
}
.coll-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
}

.collecte img{
  height: 350;
  width: 500px;
}
.coll-text{
  width: 550px;
  line-height: 40px;
  font-size: 18px;

}
.transformation{
  height: 600px;
}

.tran-text{
  margin-left: 150px;
  width: 1250px;
  line-height: 30px;
  margin-top: 50px;
}

.img-wrapper{
  display: flex;
  justify-content: space-around;
}

.img-wrapper img{
  height: 300px;
  width: 700px;
  margin-top: 75px;
}

.dsit-text{
  margin-top: 25px;
  margin-left: 150px;
  width: 1250px;
  line-height: 30px;
  margin-bottom: 175px;
}