*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
  font-family: 'Lato'; 
  box-sizing: border-box;
}

.header-wrapper{
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  height: 90px;

}

:root 
{
  --vgv: #039B13;
}

.logo{
  width: 300px;
  height: 85px;
}

.logo-wrapper{
  position: relative; 
  top: 10px;
}

.logo-text{
  position: absolute;
  inset: 40px 0px 0px 85px;
  font-weight: bold;
  font-size: 14px;
  color: black;
}

.flag-wrapper{
  display: flex;
  margin-right: -5px;
  margin-top: 10px;
}

.flag{
  width: 75px;
  height: 50px;
  margin-right: 7px;

}

.text-flag{
  font-weight: 700;
  font-size: 13px;
  width: 250px;
  height: 50px;
}

#br-nav 
{
  margin-top: 10px;
  background-color: black; 
  padding-top: 15px; 
  padding-bottom: 15px; 
}

nav
{
  position: relative;
}

.item-nav 
{
  display: inline;  
  margin-left: 60px;  
}

nav ul li a 
{
  font-size: 17px;
  color: white; 
}

.ic-dp 
{
  width: 10px; 
  height: 12px; 
  margin-left: 4px; 
  cursor: pointer;  
}

#dp-giv 
{
  position: absolute; 
  top: 35px;
  left: 60px;
  background-color: white;
  padding: 6px;
} 

.fils 
{
  display: none;
}

.parent:hover .fils 
{
  display: block;
}

#dp-pg 
{
  position: absolute;  
  top: 35px;
  left: 205px;
  background-color: white;
  padding: 6px;  
} 

#dp-vd 
{
  position: absolute;
  top: 35px;
  left: 635px;
  background-color: white;
  padding: 6px;
} 

#dp-lt 
{
  position: absolute;
  top: 35px;
  left: 834px;
  background-color: white;
  padding: 6px;
}

.icr-dp 
{
  width: 11px; 
  height:11px; 
  margin-right: 4px; 
} 

.anm-sl:hover 
{
  border-bottom: solid 2px var(--vgv);
}

#lgs 
{
  display: inline;
  color: white; 
  margin-left: 250px;
  margin-right: 30px;
}

#lgs button 
{
  font-size: 13px;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

#contact 
{
  display: inline;
  color: white;
  font-size: 12px; 
  background-color: var(--vgv); 
  border-top-right-radius: 10px; 
  border-bottom-left-radius: 10px;  
  padding: 5px;  
}

.header{
  background-image: url('images/header_image.png');
  background-size: cover;
  background-position: center;
  height: 583px;
}

.head-title{
  color: white;
  margin-bottom: 30px;
  font-size: 40px;
}

.header-content{
  transform: translate(700px,150px);
  width: 600px;
  height: 400px;
  text-align: center;
}

.header-content a{
  background-color: #039B13;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
  color: white;
  font-weight: bold;
}

.programme{
  height: 600px;
}

.section-title{
  border-left: 6px solid #039B13;
  padding: 20px;
  margin-bottom: 50px;
  margin-left: 120px;
  margin-top: 70px;
  font-size: 40px; 
}

.prog1-wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.prog1-wrapper img{
  width: 400px;
  height: 239px;
}

.prog-content{
  border: 2px solid black;
  border-top-left-radius: 10px;
  padding: 40px;
  width: 400px;
}

.viande-button{
  color: #039B13;
  font-weight: bold;

}

.prog-viande-title{
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 27px;
}

.f-size{
  font-size: 35px;  
}

.prog-lait-content{
  height: 237px;
  margin-top: 40px;
}

.viande{
  margin-top: 40px;
  height: 240px !important;
}

.left{
    margin-left: 200px;
}

.right{
  margin-right: 150px;
}

.mission{
  height: 800px;
}

.missions-wrapper{
  display: flex;
}

.missions-wrapper img{
  width: 380px;
  height: 600px;
  margin-left:230px ; 
  border: solid thin;
}

.mission-content{
  margin-left: 20px;
}

.mission-content h4{
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 15px;
}

#meat{
  display: block;
  height: 320px;
  width: 500px;
  margin-top: 22px;
  margin-left: -1px;
  border: solid thin;
}

#titre-sec 
{
  border-left: 6px solid #039B13;
  font-size: 40px; 
  padding: 20px;
  margin: 30px 120px;  
}

.ct-fil 
{
  width: 345px; 
  border: solid thin; 
  padding: 20px;  
}

.titre-fil 
{
  text-align: center; 
  font-size: 25px;
  margin-bottom: 10px;
}

.img-fil 
{
  height: 250px; 
  width: 300px; 
  margin-bottom: 5px; 
}

.btn-fil 
{
  display: block; 
  width: 40%; 
  text-align: center;
  margin-top: 25px; 
  margin-left: 80px; 
  background-color: rgba(3, 155, 19, 1); 
  color: white; 
  padding: 8px; 
  border-top-right-radius: 10px; 
  border-bottom-left-radius: 10px; 
}

#elevage 
{
  margin-left: 80px; 
  margin-right: 80px;
}

#lait-fil 
{
  margin-right: 80px;
}

#flex-fil 
{
  display: flex; 
}

footer 
{
  margin-top: 30px; 
  background-color: black; 
}

#ct-logo 
{
  position: relative; 
}

#ct-logo img 
{
  height: 80px;
  width: 315px;
  margin-left: 100px;
  margin-top: 50px;
}

#grp-nm 
{
  position: absolute; 
  left: 230px;
  top: 60px;
  font-size: 40px;
}


#lb 
{
  color: #304DEA; 
}

#lr 
{
  color: #AF2222; 
}

#lv 
{
  color: #039B13; 
}

#ctn-ft 
{
  display: flex;
  height: 410px; 
}

.item-ft 
{  
  width: 25%; 
  padding-top: 25px; 
}

.titre-pt 
{
  font-size: 30px;
  color: white;
  margin-left: 20px;
  margin-bottom: 30px;
}

#liens-ft 
{
  margin-left: 150px;
}

.lien-gr 
{
  display: block;
  margin-bottom: 12px;
  color: white; 
  font-size: 20px;  
}

.lien 
{
  margin-bottom: 5px;
}

.slien 
{
  display: block;
  color: white;
  margin-left: 40px; 
  font-size: 15px;
}

#lien-cot 
{
  margin-left: 30px;
  color: white; 
  font-size: 20px;  
}

.img-cot 
{
  width: 45px; 
  height: 45px; 
  margin-right: 50px;
}

.cdn-gr 
{
  color: white;
  display: flex; 
  align-items: center;
  margin-left: 25px;
  margin-top: 30px;
}

#ct-loca 
{
  width: 270px; 
  height: 240px;
  margin-left: 32px;
  margin-bottom: 10px;
}

#adresse 
{
  color: white;
  margin-left: 35px;
}

