:root 
{
  --vgv: #039B13;
  --vwv: white; 
}

.br-img 
{
  border: solid thin;
}
 
.viande-header{
  background-image: url("images/coverV.jpg");
  background-size: cover;
  background-position: center;
  height: 560px;
}

.viande-header-content{
  transform: translate(100px,20px);
  width: 600px;
}

.v-title{
  color: var(--vgv);
  font-size: 50px;
  font-weight: bold; 
}

.v-p{ 
  font-weight: bold; 
  color: black;
  margin-left: 40px; 
}

.v-line{
  margin-left: 3px;
  position: relative; 
  bottom: 5px; 
}

.stt 
{
  border: solid red;
  margin-left: 0;
}

#tt-ml 
{
  font-size: 40px;
  margin-left: 100px;
}

#tt-pro
{
  width: 187px;
}

#tt-mr 
{
  width: 279px;
}

#tt-ab 
{
  width: 123px;
}

#tt-cm 
{
  width: 241px;
}

.title{
  color: var(--vgv) ;
  font-size: 28px;
  margin-left: 130px; 
  border-bottom: solid var(--vgv);
}

hr{
  border: 2px solid #039B13;
  width: 200px;
  margin-left: 100px;
}

#f-hr 
{
  position: relative; 
  left: 2px;
}

.viande-header-content p{
  width: 350px;
  font-size: 20px; 
  margin-top: 40px;
  line-height: 30px;
}

.maillons-content{
  margin-top: 50px;
  font-size: 20px;
  color: var(--vgv); 
}

.maillons-image{
  display: flex;
  align-items: center;
  justify-content: center; 
}

.maillons img{
  width: 1000px;
  height: 300px;
  margin-top: 100px;
}

.AR{
  width : 1000px;
  height: 50px;
}

.production{
  margin-top: 110px;
}

#prod-text 
{
  height: 250px;
}

.production-content{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.production-content p{
  width: 450px;
  line-height: 50px;
  font-size: 25px;
  margin-left: 50px;
}

.production-content img{
  width: 400px;
  transform: translate(-50px,-50px);
}

.bestiaux{
  margin-top: 50px; 
  height: 1100px;
}

.marches{
  display: flex;
  justify-content: space-around;
}

.marches img{
  width: 350px;
  height: 938px;
  margin-left: 100px;
}

.marches-content{
  height: 980px;
  width: 600px;
  line-height: 43px;
  margin-top: 94px;
  margin-left: 20px;
}

.best 
{
  width: 420px;
}

.marches-content ul 
{
  list-style: disc inside; 
}

.abattoirs{
  margin-top: 55px;
}

#ab-text 
{ 
  height: 297px;
}

.abattoirs-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.abattoirs-content img{
  width: 400px;
}

.abattoirs-content p{
  width: 450px;
  line-height: 50px;
  font-size: 30px;
  margin-left: 70px;
  margin-top: 100px;
}

.commercialisation{
  margin-top: 55px;
  height: 1700px;
}

#first-p{
  margin-top: 75px;
  height: 55px;
}

.commercialisation p,h6,h4{
  line-height: 50px;
  font-size: 20px;
  margin-left:175px;
}

#grossistes 
{
  height: 250px;
}

#bouch-text 
{
  height: 105px;
}

#gms-text 
{
  height: 50px;
}

.commercialisation h4{
  font-size: 25px;
  color: var(--vgv);
}

.commercialisation h6{
  font-size: 20px;
  color: var(--vgv);
}

.commercialisation #img{
  width: 450px;
  margin-left:450px;
  margin-bottom: 90px;
  margin-top: 10px;
}

#im1, #im2{
  width: 400px;   
  margin-left: 180px;
}

.reg-title{
  margin-top: 50px;
}

#tt-asp 
{
  color: var(--vgv) ;
  font-size: 40px;
  margin-left: 100px; 
}

#reg-line 
{
  width: 250px;
}

.reg-text{
  margin-top: 50px;
  margin-left: 125px;
  margin-bottom: 60px;
  line-height: 50px;
  font-size: 20px;
  width: 1100px;
}

#tx-rg 
{
  height: 155px;
}

#tt-doc 
{
  font-size: 40px; 
  margin-left: 100px; 
  color: var(--vgv);
}

#li-doc 
{
  margin-left: 100px;
  width: 100px;
  color: var(--vgv); 
}

.m-dc 
{
  margin-bottom: 20px;
  color: black;
}

.m-dc:hover 
{
  border-bottom: solid thin;
}

#ls-dc 
{
  list-style: disc inside;
  margin-left: 110px;
  margin-top: 20px;
}

#tt-st 
{
  font-size: 40px; 
  margin-left: 100px;
  margin-top: 30px; 
  color: var(--vgv);
}

#li-st 
{
  width: 100px; 
  border: solid 2px var(--vgv); 
  margin-bottom: 20px; 
}

#tx-po 
{
  margin-left: 110px;
  margin-bottom: 10px;
}

#tt-po 
{
  color: var(--vgv); 
  font-size: 25px; 
  margin-left: 110px;
  margin-bottom: 5px;
}

#te-po 
{
  font-style: italic; 
  margin-left: 110px;
}

#st-po, th, td 
{
  border: solid thin;
  text-align: center; 
  padding: 5px; 
  margin-left: 110px; 
  margin-top: 20px;
}

.sc 
{
  margin-left: 110px; 
  margin-top: 5px;
  font-style: italic;
}

