:root 
{
  --vgv: #039B13;
  --vwv: white; 
}

body{
  height: 3000px;
}

.viande-header{
  background-image: url("images/viande-header.png");
  background-size: cover;
  background-position: center;
  height: 583px;
}
.viande-header-content{
  transform: translate(100px,50px);
  width: 600px;
  color: var(--vwv);
}
.v-title{
  color: var(--vgv);
  font-size: 70px;
}
.v-p{
  font-size: 20px !important;
}
.v-line{
  margin-left: 0px !important;
}
.title{
  color: var(--vgv) ;
  font-size: 40px;
  margin-left: 100px;
}
hr{
  border: 2px solid #039B13;
  width: 200px;
  margin-left: 100px;
}

.viande-header-content p{
  width: 350px;
  font-size: 15px;
  margin-top: 52px;
  line-height: 30px;
}
.maillons-content{
  margin-top: 200px;
  font-size: 20px;
  color: var(--vgv);
}
.maillons-image{
  display: flex;
  align-items: center;
  justify-content: center;
}
.maillons img{
  width: 1000px;
  height: 300px;
  margin-top: 100px;
}
.production{
  margin-top: 200px;
}

.production-content{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.production-content p{
  width: 450px;
  line-height: 50px;
  font-size: 20px;
  margin-left: 70px;


}
.production-content img{
  width: 400px;
  transform: translate(-50px,-50px);
}
.bestiaux{
  margin-top: 200px;
}
.marches{
  display: flex;

  justify-content: space-around;
}
.marches img{
  width: 350px;
  height: 620px;
  margin-left: 70px;

}
.marches-content{
  height: 800px;
  width: 600px;
  line-height: 45px;
  margin-top: 100px;
  margin-left: 20px;
}
.marches-content ul li::marker{
  color: var(--vgv);
}


.abattoirs{
  margin-top: 100px;
}
.abattoirs-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.abattoirs-content img{
  width: 400px;
}
.abattoirs-content p{
  width: 450px;
  line-height: 50px;
  font-size: 20px;
  margin-left: 70px;
}

.commercialisation{
  margin-top: 100px;
  height: 1000px;
}
#first-p{
  margin-top: 125px;
}

.commercialisation p,h6,h4{
  line-height: 50px;
  font-size: 20px;
  margin-left:175px;

}

.commercialisation h4{
  font-size: 25px;
  color: var(--vgv);
}
.commercialisation h6{
  font-size: 20px;
  color: var(--vgv);
}
#grossistes{
  width: 1150px;
}

.commercialisation img{
  width: 450px;
  margin-left:450px;
}
.images{
  display: flex;
  justify-content: space-between;
}
.images img{
  width: 400px;

}
.balance{
}
